@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: blue;
}

.video{
    width: 100%;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
}

#capa{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    background-size: 100% 100%;
}

#buttonP{
    width: 100%;
    height: 100%;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 3rem;
    display: flex;
    border: none;
    justify-content: center;
    align-items: flex-end;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

#containerButton{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    background: transparent;
    margin-bottom: 5rem;
}